html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid-container {
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
  
}

.row {
    display: flex;
}


.square {
    width: 36px;
    height: 36px;
    border: 1px solid gray;
}