@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: "Pixelify Sans", sans-serif;
}

.grid-container {
    width: 610px;
    height: 610px;
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    border: 1px solid lightgray;
}

.row {
    flex: 1;
    display: flex;
}

.square {
    flex: 1;
    border: 1px solid lightgray;
}

.size-btn {
    padding: 12px 24px;
    font-size: 24px;
    font-family: "Pixelify Sans", sans-serif;
}

.grid-size {
    margin: 20px 0 5px 0;
    font-size: 20px;
}

.clear-btn {
    margin-top: 10px;
    font-size: 16px;
    font-family: "Pixelify Sans", sans-serif;
}